<ion-list>
  <ion-radio-group [value]="selectedIndex">
    <ion-list-header>
      <ion-label>Disponibilité</ion-label>
    </ion-list-header>

    <ion-item button (click)="onClickItem(0)">
      <ion-label>Tous</ion-label>
      <ion-radio slot="end" [value]="0"></ion-radio>
    </ion-item>

    <ion-item button (click)="onClickItem(1)">
      <ion-label>Disponible maintenant</ion-label>
      <ion-radio slot="end" [value]="1"></ion-radio>
    </ion-item>

    <ion-item button (click)="onClickItem(2)">
      <ion-label>Nouveau</ion-label>
      <ion-radio slot="end" [value]="2"></ion-radio>
    </ion-item>

    <ion-item button (click)="onClickItem(3)">
      <ion-label>Dernier mois</ion-label>
      <ion-radio slot="end" [value]="3"></ion-radio>
    </ion-item>

    <ion-item button (click)="onClickItem(4)">
      <ion-label>Non disponible</ion-label>
      <ion-radio slot="end" [value]="4"></ion-radio>
    </ion-item>

  </ion-radio-group>
  <ion-item
    id="close-item"
    lines="none" 
    detail="false" 
    button (click)="onClickClose()">Fermer</ion-item>
</ion-list>