<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Poissons
    </ion-title>
    <ion-button slot="end" fill="clear" (click)="onClickMore()" color="primary">
      <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-item>
    <ion-input
      [(ngModel)]="userInput"
      placeholder="Rechercher"
      (ionInput)="onUserInput($event)">
    </ion-input>
  </ion-item>
  <ion-grid id="filter-grid" class="center-content">
    <ion-row class="filter-row center-content">
      <ion-col size="2">
        <ion-button fill="clear" [color]="availability != 0 ? 'primary' : 'dark'" (click)="onClickAvailability($event)">
          <ion-icon slot="icon-only" [name]="availability != 0 ? 'calendar' : 'calendar-outline'"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" [color]="frequency != -1 ? 'primary' : 'dark'" (click)="onClickFrequency($event)">
          <ion-icon slot="icon-only" [name]="frequency != -1 ? 'star' : 'star-outline'"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" [color]="place != -1 ? 'primary' : 'dark'" (click)="onClickPlace($event)">
          <ion-icon slot="icon-only" [name]="place != -1 ? 'leaf' : 'leaf-outline'"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" [color]="rain == true ? 'primary' : 'dark'" (click)="onClickRain($event)">
          <ion-icon slot="icon-only" [name]="rain == true ? 'rainy' : 'rainy-outline'"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" [color]="size != -1 ? 'primary' : 'dark'" (click)="onClickSize($event)">
          <ion-icon slot="icon-only" [name]="size != -1 ? 'shapes' : 'shapes-outline'"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" color="danger" (click)="onClickRemoveFilters()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <div *ngFor="let fish of displayedFishes">
      <ion-item (click)="onClickItem(fish)">
        <ion-avatar [ngClass]="getAvatarClass(fish)"
          slot="start">
          <img [src]="getSpritePath(fish)">
        </ion-avatar>
        <ion-label>
          {{ fish.name }}
        </ion-label>
        <ion-badge *ngIf="isFirstMonth(fish)" slot="end" color="primary">
          Nouveau
        </ion-badge>
        <ion-badge *ngIf="isLastMonth(fish)" slot="end" color="danger">
          Dernier mois
        </ion-badge>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
