#filter-grid {
  background-color: white;
}
.item-avatar {
  background-image: url('../../assets/global/img/nook-pattern-hd.png');
  background-size: 150px;
}
.common {
  border: solid white 2px;
}
.rare {
  border: solid #ffda07 2px;
}
.very-rare {
  border: solid #ff9307 2px;
}